{% load custom_filters %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="{% static 'styles_quiz.css' %}">
</head>
<body>
    <h1>Quiz</h1>

    <form method="post">
        {% csrf_token %}
        <h3>{{ question.number }}) {{ question.question }}</h3>

        {% for key, value in options.items %}
            <label>
                {{ key }})
                <input type="radio" name="answer" value="{{ key }}"
                    {% if show_feedback %} disabled {% endif %}
                    {% if selected_answer == key %} checked {% endif %}
                >  {{ value }}
            </label><br>
        {% endfor %}


        {% if show_feedback %}
            <p>
                {% if is_correct %}
                    ✅ Correcto
                {% else %}
                    ❌ Incorrecto. La respuesta correcta era:
                    <strong>{{ question.answer }}) {{ options|get_item:question.answer }}</strong>
                {% endif %}
            </p>
            <button type="submit">Siguiente pregunta</button>
        {% else %}
            <button type="submit" onclick="return validarSeleccion()">Responder</button>
            <p id="mensajeError" class="error-message">⚠️ Debes seleccionar una respuesta antes de continuar.</p>
        {% endif %}
    </form>
    
    <form action="{% url 'index' %}" method="get">
        <button type="submit" class="btn-volver">Volver</button>
    </form>

    <script>
        function validarSeleccion() {
            var opciones = document.getElementsByName('answer');
            var seleccionado = false;

            for (let i = 0; i < opciones.length; i++) {
                if (opciones[i].checked) {
                    seleccionado = true;
                    break;
                }
            }

            if (!seleccionado) {
                mensajeError.style.display = "block"; 
                return false; 
            }
            return true; 
        }
    </script>
</body>
</html>
